# Python
venv/
__pycache__/
*.pyc
*.pkl
*.egg-info/
.env

# Node
frontend/node_modules/
frontend/dist/

# Data (optionnel - garde si tu veux partager les données)
# data/raw_data.csv
# data/clean_data.csv

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db